<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input formControlName="productName" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Product Category</mat-label>
            <mat-select formControlName="category" placeholder="Category" name="food">
                <mat-option value="Fruit">Fruit</mat-option>
                <mat-option value="Vegetables">vegetables</mat-option>
                <mat-option value="Electronics">Electronics</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Choose a Date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <label for="">
            <h3>Product Freshness</h3>
        </label>
        <mat-radio-group formControlName="freshness" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh">
                {{fresh}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Product price</mat-label>
            <input formControlName="price" type="number" matInput placeholder="price">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea formControlName="comment" matInput placeholder="your comment here" cols="10" rows="6"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="action" [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{submitButton}}</button>
</div>